.pertama{
    background-color: hsl(0, 0%, 20%);
 padding: 20px;
    text-align: center;
   font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid #FFFFFF;
    border-radius: 15px;
    margin: 20px;

}
.pertama h1{
    font-size: 30px;
    font-family: sans-serif;
    text-align: left;
   color: white;
   align-items: center;
}
.merah dt{
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  
}