body {
      margin: 0;
    }
     .header {
        text-align: center;
      position: sticky;
      background: red;
      color: white;
      padding: 16px;
      font-size: 25px;
      z-index: 3;
    }
    .content {
      padding: 12px;;
    }
     .card {
      position: relative;
      width: 150px;
      margin: 24px 0;
      border-radius: 10px;
    }
    .card img {
      width: 100%;
      display: block;
    }
     .badge {
      position: absolute;
      right: 8px;
      background: crimson;
      color: black;
      padding: 4px 8px;
      font-size: 12px;
      border-radius: 12px;
    }
    .card{
      padding: 12px;
    }
    .tag {
      position: relative;
      display: inline-block;
      background: rgb(60, 255, 0);
      padding: 4px 8px;
      border-radius: 4px;
      margin-bottom: 16px;
    }
     .box-container {
      position: relative;
      height: 100px;
      margin: 32px ;
    }

    .box-a {
      position: absolute;
      top: 40px;
      left: 40px;
      width: 110px;
      height: 110px;
      background: teal;
    }

    .box-b {
      position: absolute;
      top: 35px;
      left: 35px;
      width: 100px;
      height: 100px;
      background: orange;

    }  .button-fixed {
      right: 16px;
      bottom: 16px;
      background: #333;
      color: white;
      padding: 10px 14px;
      border-radius: 50%;
      font-size: 14px;
    }